*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    
}
.contenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    
}
.pikacontenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
    "pika pika"
    "pikamain pikaaside"
    "footer footer";
    
}
.header{
    background-image: url(/img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg);
    background: repeat cover;
    padding: 1.4rem;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header img{
    width: 200px;
}
.header nav ul{
    list-style: none;
    background-color: #3d3d3d;
    display: flex;
    justify-content: flex-end;
    
}
.header nav ul a{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
    
}
.header nav ul ul{
    position: absolute;
    display: none;
}
.header nav ul ul li{
    display: block;
}
ul li:hover ul {
    display: block;
    background-color: pink;
}
.header nav li a:hover{
    background-color: #888888;
    color:black;
}
.pika{
    background-image: url(/img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg);
    background: repeat cover;
    padding: 1.4rem;
    grid-area: pika;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.pika img{
    width: 69px;
}
.pika nav ul{
    list-style: none;
    background-color: #ffd000;
    display: flex;
    justify-content: flex-end;
    
}
.pika nav ul a{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
    
}
.pika nav li a:hover{
    background-color: red;
    color:black;
}
.main{
    background-color: white;
    padding:1.2rem;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.main h1{
    text-align: center;
    padding: 1rem;
}
.main .img{
    align-self: center;
}
.main p{
    line-height: 1.5;
    padding: 1rem;
}
.pikamain{
    background-color: white;
    padding:1.2rem;
    grid-area: pikamain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.pikamain h1{
    text-align: center;
    padding: 1rem;
}
.pikamain .img{
    align-self: center;
}
.pikamain p{
    line-height: 1.5;
    padding: 1rem;
}
.aside{
    background-color: rgb(197, 70, 70);
    padding: 1.2rem;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.aside h2{
    align-self: center;
    margin: 1rem;
}
.aside h3{
    align-items: center;
    margin-left: 2rem;
}
.aside img{
    align-self: center;
    margin: 1rem;
    scale: 75%;
}
.pikaaside{
    background-image: url(/img/Pikachu-Wallpaper-Pics-Download-2-scaled.jpg);
    padding: 1.2rem;
    grid-area: pikaaside;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.pikaaside h2{
    align-self: center;
    margin: 1rem;
}
.pikaaside h3{
    align-items: center;
    margin-left: 2rem;
}
.pikaaside img{
    align-content: center;
    margin-left: 12rem;
    width: 200px;
}
.pikaaside img:hover{
    scale: 125%;
}
.footer{
    background-color: #7b7b7b;
    padding:1.2rem;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
.footer p{
    color: white;
}
.footer img{
    width: 100px;
}
@media screen and (max-width:768px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas:
        "header"
        "main" 
        "aside"
        "footer";
        
    }
}
@media screen and (max-width:768px){
    .pikacontenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas:
        "pika"
        "pikamain" 
        "pikaaside"
        "footer";
        
    }
}