*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    
}
@import ".contenedor";
@import ".pikacontenedor";
@import ".header";
@import ".pika";
@import ".main";
@import ".pikamain";
@import ".aside";
@import ".pikaaside";
@import ".footer";





.raichucontenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
    "raichu raichu"
    "raichumain raichuaside"
    "footer footer";
    
}







@media screen and (max-width:768px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas:
        "header"
        "main" 
        "aside"
        "footer";
        
    }
}
@media screen and (max-width:768px){
    .pikacontenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas:
        "pika"
        "pikamain" 
        "pikaaside"
        "footer";
        
    }
}

